.vscode/
node_modules
# Local ertificate files
*.pem
.elasticbeanstalk/
local.yml
playlists.json
coverage/
.elasticbeanstalk/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
